.warning {
    padding: 10vh 0;
    text-align: center;
    width: 100%;
    font-family: "Tittilium Web", sans-serif;
    text-transform: capitalize;
}

.title {
    font-family: "Amaranth", sans-serif;
    color: #e63946;
    text-transform: capitalize;
}

.iconContainer {
    margin: 5vh 0;
}

.text {
    font-size: 18px;
}