.recipeIngredients {
    margin: 10vh 5vw 0vh 5vw;
    background-color: #ffffff;
    padding: 5vh 5vw;
    border-radius: 10px;
    font-family: "Tittilium Web", sans-serif;
}

.title {
    text-transform: capitalize;
    font-family: "Amaranth", sans-serif;
    color: #e63946;
}

.ingredientContainer {
    padding: 1vh 0;
}

.ingredientItem {
    margin: 3vh 0;
    padding: 3vh 2vw;
    text-transform: capitalize;
}

.ingredientName {
    color: #e63946;
}