.intro {
    padding: 10vh 10vw;
    font-family: "Tittilium Web", sans-serif;
    text-transform: capitalize;
}

.illustrationContent, .introContent {
    margin: 5vh 0;
}

.background {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: #e63946;
    border-radius: 50%;
}

.iconContainer {
    position: relative;
    top: 100px;
    left: 5vw; 
    width: 20vw;
}

.foodIcon {
    text-align: center;
    margin: 3vh auto;
    padding: 1vh 1vw;
}

.cheese {
    color: #fab649;
}

.bread {
    color: #c59b7a;
}

.bacon {
    color: #981a0f;
}

.carrot {
    color: #e27726;
}

.title {
    text-transform: capitalize;
    font-family: "Amaranth", sans-serif;
    margin-bottom: 5vh;
}

.makeIconContainer {
    width: 60%;
    margin: 0 auto;
}

.knife, .spatula, .rolling, .mixer {
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 575px) {
    .background {
        width: 100%;
        height: 200px;
        background: none;
    }

    .iconContainer {
        width: 50vw;
        top: 5vw;
        left: 20vw;
    }

    .makeIconContainer {
        width: 100%;;
    }

    .knife, .spatula, .rolling, .mixer {
        display: block;
        margin: 3vh auto;
        width: 80px;
        height: 80px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .background {
        background: none;
        width: 100%;
        height: 100%;
    }

    .iconContainer {
        top: 0vh;
        left: 30vw;
    }

    .knife, .spatula, .rolling, .mixer {
        width: 70px;
        height: 70px;
        display: block;
        margin: 3vh auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .background {
        width: 100%;
        height: 100%;
    }

    .iconContainer {
        top: 8vh;
        left: 11vw;
    }
}