.recipe {
    padding: 5vh 10vw;
}

.title {
    text-transform: capitalize;
    font-family: "Amaranth", sans-serif;
}

.recipeItem {
    padding: 5vh 0vw;
}

.recipeImage img {
    width: 100%;
    height: 300px;
}

.recipeContent {
    padding: 3vh 1vw 3vh 0;
}

.recipeContent p {
    font-size: 14px;
}

.recipeTitleContainer {
    height: 100px;
}

.recipeTitle {
    text-transform: capitalize;
    font-family: "Amaranth", sans-serif;
    margin-bottom: 3vh;
    color: #000000;
}

.recipeTitle:hover {
    color: #e63946;
    text-decoration: none;
    transition: 0.2s;
}

.icon {
    text-align: center;
}